
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.miama-font{
    font-family: 'Miama', sans-serif;
}

/* Shared Style */

.display-flex{
    display: flex;
}

.text-primary{
    color: rgba(255, 255, 255, 0.5);
}

.text-secondary{
    color: rgba(255, 255, 255, 1);
}

.text-light-gray{
    color: rgb(248, 249, 250);
}

.text-gray-white{
    color: rgb(224, 224, 224);
}

.text-orange{
    color: rgba(230, 83, 60, 1);
}

.text-light{
    color: rgba(255, 255, 255, 0.1);
}

.bg-gradient{
    background: linear-gradient(to right, #1e1e1e, #393939);
    width: 90rem;
    height: 45rem;
}


.btn-primary{
    background-color: rgba(230, 83, 60, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 42px;
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 16px 46px;
}

.btn-secondary{
    background-color: #101010;
    color: rgba(255, 255, 255, 1);
    border-radius: 42px;
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 16px 46px;
}

.btn-tersiary{
    background-color: rgba(230, 83, 60, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 46px;
    border: none;
    font-size: 1.25rem;
    font-weight: 400;
    margin-left: 0;
    width: 10rem;
    height: 2.9rem;
    text-align: center;
    text-decoration: none;
    list-style: none;
    padding-right: 4px;
    
}

main{
    background-color: #000000;
    width: 90rem;
    height: 45rem;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

main > section{
    margin-top: 0;
}

/* Header Styles */

header{
    margin-bottom: 0;
    padding-bottom: 0;
}
/* Navbar Styles */

.navbar{
    max-width: 90rem;
    justify-content: space-between;
    align-items: center;
    margin-right: 15rem;
    padding-top: 1rem;
    gap: 27rem;
}

.brand{
    color: rgba(230, 83, 60, 1);
    font-weight: 800;
    font-size: 2.4rem;
    margin-left: 8rem;

}

.nav-links{
    border-radius: 40px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
    width: 40rem;
    height: 3rem;
    margin-left: 0;
    padding-left: 0;
    
}

.nav-item{
    list-style: none;
    margin-right: 3rem;
    padding: 10px 0px 10px 45px;
    margin-left: 0;
    justify-content: center;
    align-items: center;
}

.nav-link{
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 400;
    margin: 0 auto;
}

/* Hamburger icon styling */
.hamburger {
    display: none;
    width: 3rem;
    height: 3rem;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

/* Banner Styles */

.banner{
   display: grid;
   grid-template-columns: 55% 45%;
   gap: 6rem;
}

.banner-title{
    margin-left: 9rem;
    width: 33rem;
    height: 17rem;
    line-height: 6rem;
    margin-bottom: 0;
    font-size: 4.5rem;
    font-weight: 700;

}

.banner-description{
    margin-left: 9rem;
    margin-top: 2.8rem;
    margin-bottom: 2.5rem;
    font-size: 1.24rem;
    font-weight: 400;
    width: 33rem;
    height: 3rem;
}

#shape{
    font-size: 7.2rem;
    letter-spacing: 2px;
    font-weight: 400;
}

.btn-pair{
    margin-left: 9rem;
    margin-top: 0;
    margin-bottom: 0;
    gap: 2.5rem;
}

.image-container{
    position: relative;
    display: inline-block;
}

.banner-image{
    margin-right: 12.5rem;
    margin-top: 0;
    margin-bottom: 0;
    width: 22rem;
    height: 36.25rem;
}

.overlay-button{
    position: absolute;
    top: 12%;
    left: -12%;
}

#workout-videos{
    background-color: #393939;
    width: 13.8rem;
    height: 6.5rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    margin-left: 300px;
    margin-top: 50px;
}

#video-number{
    font-size: 2.4rem;
    font-weight: 700;
}

#overlay-button{
    position: absolute;
    top: 72%;
    left: -20%;
}

.rectangular-button{
    display: inline-block;
    position: relative;
}

.v-tutorial{
    background-color: rgba(48, 48, 48, 0.54);
    width: 13.8rem;
    height: 6.5rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
}

#v-number{
    font-size: 1.5rem;
    font-weight: 700;
}

.v-title{
    color: rgba(239, 237, 232, 0.65);
    font-size: 1rem;
    font-weight: 400;
}

.circle{
    background-color: rgba(230, 83, 60, 1);
    border-radius: 50%;
    border: none;
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: 32%;
    left: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Change Your Habit Slyles */

.sec1{
    padding-top: 1.7rem;
}

.habit-content{
    margin: 0 auto;
    text-align: center;
    width: 41.9rem;
    height: 7.5rem;
    
}

.habit-title{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 6.5rem;
    font-size: 3rem;
    font-weight: 700;
}

.habit-description{
    margin-top: 0;
    padding-top: 1rem;
    font-size: 1.25rem;
    font-weight: 400;

}

.habit-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 14.43rem;
    height: 17.13rem;
    gap: 3.5rem;
    margin-top: 9rem;
    margin-left: 12rem;
    margin-right: 12.4rem;
}

.habit-title{
    font-size: 3rem;
    font-weight: 700;
}

.card{
    text-align: center;
    justify-content: center;
    align-items: center;
}

.card h5{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 0;
}

.card p{
    margin-top: 6px;
    font-size: 1rem;
    font-weight: 400;
    width: 14.13rem;
    height: 4rem;
}

.move{
    width: 11.25rem;
    height: 11.25rem;
    border-radius: 100px;
    border: 4px solid rgba(255, 255, 255, 0.1);
}

/* Run an Extra Mile Easily Styles */

.sec2{
    padding-top: 8rem;
    padding-bottom: 7.5rem;
    background-color: #000000;
}

.run-card{
    background-color: #222222;
    width: 66.25rem;
    height: 23.19rem;
    margin-left: 11.87rem;
    margin-right: 11.87rem;
    border-radius: 18px;
    border: none;
    gap: 9rem;
}

.content{
    width: 28rem;
    height: 18rem;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-left: 4rem;
}

.run-title{
    font-size: 3rem;
    font-weight: 700;
    margin-top: 2.2rem;
    margin-bottom: 0;
}

.run-description{
    font-size: 1.25rem;
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.running{
    max-width: 366px;
    max-height: 312px;
    border-radius: 18px;
    margin-top: 3.5rem;
    margin-bottom: 2rem;
    margin-right: 1.7rem;
}

/* Training and Exercises Styles */

/* BMI Calculator Styles */

/* Meet Our Team Styles */

/* Footer Styles */

/* Responsive Media Query */

@media screen and (max-width: 576px) {
    .nav-links {
        display: none;
    }

    .hamburger {
        display: block;
        width: 3rem;
        height: 3rem;
        color: rgba(255, 255, 255, 1);
        cursor: pointer;
    }

    .banner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: linear-gradient(to right, #1e1e1e, #393939);
        }

    
        .sec1 {
            margin-top: 38rem;
            background-color: #000000;
            width: 100%;
            height: 110rem;
         
        }

    .habit-content {
            margin: 0 auto;
            padding: 0;
            text-align: center;
            width: 20rem;
            height: 1.5rem;
        }

    .habit-title {
            margin-top: 0;
            margin-bottom: 0;
            padding-top: 6.5rem;
            font-size: 2rem;
            font-weight: 700;
        }
        
    .habit-description{
            margin-top: 0;
            padding-top: 1rem;
            font-size: 1.25rem;
            font-weight: 400;
        }
        
    .habit-container {
            display: grid;
            grid-template-columns: 1fr;
            width: 14.43rem;
            height: 17.13rem;
            gap: 2.5rem;
            margin: 0 auto;
            padding-top: 20rem;
            padding-bottom: 0;
        }

    .sec2{
            padding-top: 5rem;
            padding-bottom: 5rem;
            background-color: #000000;
        
        }

    .run-card {
        width: 22rem;
        height: 33rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0 auto;
        border-radius: 18px;
        gap: 2rem;

        }

    .content{
            width: 20rem;
            height: 16.5rem;
            padding-top: 0;
            padding-bottom: 0;
            margin-left: 1rem;
            margin-right: 1rem;
        
        }
        
    .run-title{
            font-size: 2rem;
            font-weight: 700;
            margin-top: 3rem;
            margin-bottom: 0;
        }
        
        .run-description{
            font-size: 1rem;
            font-weight: 400;
            margin-top: 1rem;
            margin-bottom: 1rem;
            
        }
        
        .running{
            max-width: 287px;
            max-height: 170px;
            border-radius: 18px;
            margin-top: 2.2rem;
            margin-bottom: 2rem;
            margin-right: 1.4rem;
            margin-left: 1.4rem;
        
        }
    
}

@media screen and (min-width: 576px) and (max-width: 992px) {
    .banner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: linear-gradient(to right, #1e1e1e, #393939);
        }

    .sec1 {
            margin-top: 37.9rem;
            background-color: #000000;
            width: 100%;
            height: 65rem;
            
        }

    .habit-content {
            margin: 0 auto;
            padding: 0;
            text-align: center;
            width: 29.75rem;
            height: 7.5rem;
        }

    .habit-title {
            margin-top: 0;
            margin-bottom: 0;
            padding-top: 6.5rem;
            font-size: 3rem;
            font-weight: 700;
        }

    .habit-description {
            margin-top: 0;
            padding-top: 1rem;
            font-size: 1.25rem;
            font-weight: 400;
        }

    .habit-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            width: 14.43rem;
            height: 17.13rem;
            gap: 2.5rem;
            margin: 0 auto;
            justify-content: center;
            align-items: center;
            padding-top: 12rem;
            padding-bottom: 0;
        }

    .sec2{
            padding-top: 5rem;
            padding-bottom: 5rem;
            background-color: #000000;
        }
        
    .run-card{
            background-color: #222222;
            width: 58rem;
            height: 25rem;
            margin: 0 auto;
            border-radius: 18px;
            border: none;
            gap: 5rem;
        }
        
    .content{
            width: 28rem;
            height: 18rem;
            padding-top: 0;
            padding-bottom: 0;
            margin-top: 0;
            margin-left: 4rem;
        }
        
    .run-title{
            font-size: 3rem;
            font-weight: 700;
            margin-top: 2.2rem;
            margin-bottom: 0;
        }
        
    .run-description{
            font-size: 1.25rem;
            font-weight: 400;
            margin-top: 1rem;
            margin-bottom: 1.5rem;
        }
        
    .running{
            max-width: 366px;
            max-height: 312px;
            border-radius: 18px;
            margin-top: 3.5rem;
            margin-bottom: 2rem;
            margin-right: 1.7rem;
        }
        
}